:root {
  --var: 10px;
  --color-black: black;
  --second-var: 20px;
}

.a {
  property: var(--var);
}

.b {
  property: var(--var) solid black;
}

.c {
  property: white var(--color) var(--var);
}

.d {
  property: var(--var) var(--color-black) var(--second-var);
}

.e {
  property: var(--color-black, gray);
}
